
/* ===================================================
Our Hero Comp Style CSS Codes starts here 
========================================= */

.hero-comp{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 16rem;
    padding-bottom: 5rem;

}

.hero-comp:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/shadow-bg-check.avif')no-repeat center center/cover;
    z-index: -1;
}

.hero-info-bx{
    position: relative;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.hero-info-bx h1{
    max-width: calc(100% - 20rem);
    margin-bottom: 2rem;
}

.hero-info-bx h1 span{
    color: var(--primary_Color);
}

.hero-info-bx p{
    max-width: 58rem;
}

.email_notify-bx{
    position: relative;
    width: 50rem;
    margin-top: 3rem;
    background-color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-shadow: inset 0 0 0 .2rem #20211f;
    border-radius: 1.45rem; 
}



.email_notify-bx.vibrateMode{
    animation: vibrate 300ms cubic-bezier(0.25, 1, 0.5, 1);

}

@keyframes vibrate {

    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(4px);
    }

    50%{
        transform: translateX(-4px);
    }

    75%{
        transform: translateX(4px);
    }


    100%{
        transform: translateX(0);
    }
    
}


.email_notify-bx .buton{
    border-radius: 1rem !important;
}

.email_notify-bx input{
    width: calc(100% - 15rem);
    height: 4.4rem;
    padding-inline: 1rem;
    background-color: transparent;
    border: none;
    color: var(--white_color);
    font-weight: 400;
    font-size: 1.4rem;
}


.email_notify-bx input::placeholder{
    color: #fafafacb;
    font-weight: 400;
}


.hero_img{
    position: relative;
    width: 100%;
    margin-top: 8rem;
    padding-inline: 2rem;
}

.hero_img img{
    width: 100%;
    height: auto;
}

.credit-card-trial-flex{
    position: relative;
    margin-top: 1.78rem;
    gap: 3rem;
}

.tick-bx{
    gap: .89rem;
}

.check{
    font-size: 1.65rem;
    color: var(--primary_Color);
}



/* ==================
 Our Laptop mini devices  \
============================ */

@media all and (min-width: 1025px) and (max-width: 1124px){

    html{
        font-size: 56.2%;
    }

        /* ----------------- our Company Logo slider widht set */

        .slider-track{
            width: calc(220%);
        }


}


/* ==================
 Our tabs and tablets devices  \
============================ */



@media all and (min-width: 768px) and (max-width: 1024px){

    html{
        font-size: 56%;
    }

    /* ------------------- our hero comp responsive  */

    .mini-title-bx span{
        font-size: 1.6rem;
    }

    .star-icon{
        width: 1.9rem;
        height: 1.9rem;
    }

    .star-icon ion-icon{
        font-size: .96rem;
    }

    .hero-info-bx h1{
        font-size: 6rem;
        max-width: calc(100% - 10rem);
    }

    .hero-info-bx p{
        font-size: 1.87rem;
        max-width: 65rem;
    }

    .hero_img{
        width: 98%;
        margin: 8rem auto 0 auto;
    }

      /* ----------------- our Company Logo slider widht set */

      .slider-track{
        width: calc(300%);
    }
    
    
    
}

/* ==================
 Our mobile devices  \
============================ */

@media all and (min-width: 320px) and (max-width: 767px){

    html{
        font-size: 56%;
    }

    /* ------------------- our hero comp responsive  */

    .hero-comp{
        margin-top: 3rem;
        overflow: hidden;
    }

    .hero-comp:before{
        top: 22rem;
        left: 50%;
        transform: scale(1.3) translateX(-50%);
    }

    .mini-title-bx span{
        font-size: 1.5rem;
    }

    .star-icon{
        width: 1.76rem;
        height: 1.76rem;
    }

    .star-icon ion-icon{
        font-size: .95rem;
    }

    .hero-info-bx h1{
        font-size: 4rem;
        max-width: calc(100% - 5rem);
    }

    .hero-info-bx p{
        font-size: 1.76rem;
        max-width: 55rem;
        line-height: 1.7;
    }
    .email_notify-bx{
        width: 100%;
    }
    .email_notify-bx .buton{
        border-radius: .55rem;
    }

    .hero_img{
        width: 100%;
        margin: 8rem auto 0 auto;
    }

    /* ----------------- our Company Logo slider widht set */

    .slider-track{
        width: calc(500%);
    }
    
    
}